<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include nav/header.ejs %>

  <h2>ABOUT US</h2>
  <h4> 셰프의 요리를 집에서 </h4>
  <p>플레이팅의 셰프님이<br>
정성스럽게 만든 요리를<br>
원하는 곳으로 배달해 드립니다.<p>

  </body>
</html>
