<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include nav/header.ejs%>

    <h2>APP & SNS<h2>
    <br>
    <h3><pre>     디저트와 사이드 메뉴 등<br>더 다양한 메뉴를 앱을 통해 만나보세요</pre><h3>
    <br>
    <a href="https://www.facebook.com/myplating/">Facebook</a> |
    <a href="https://blog.naver.com/plating_official">Blog</a> |
    <a href="https://www.instagram.com/plating_official/">Instagram</a> 
  </body>
</html>
