<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include nav/header.ejs %>

    <h2>Able to delivery</h2>
    <h4>강남구</h4>
    <p>신사동 청담동 논현동 삼성동 일원동 역삼동 대치동 도곡동 개포동 수서동 압구정동</p>
    <br>
    <h4>서초구</h4>
    <p>잠원동 반포동 서초동 양재동 방배동</p>
    <br>
    <h4>용산구</h4>
    <p>전체지역</p>
    <br>
    <h4>송파구</h4>
    <p>잠실동 신천동 방이동 송파동 석촌동 삼전동 가락동 문정동 오금동 위례동 장지동</p>
    <br>
    <h4>분당구</h4>
    <p>삼평동 백현동 서현동 수내동 이매동 정자동 분당동</p>
    <br>
    <h4>성동구</h4>
    <p>금호동 성수동 옥수동</p>

  </body>
</html>
