<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <% include nav/header.ejs %>

    <h2>HOW TO USE</h2>

    <h4> 1. Install app </h4>
    <p>앱 마켓에서<br>“플레이팅”을 검색하세요 </p>
    <br>
    <h4> 2. Choice menu <h4>
    <p> 매일 바뀌는 다양한</br>요리를 장바구니에 담습니다. </p>
    <br>
    <h4> 3. Oder delivery </h4>
    <p> 다양한 결제방법을 통하여</br>원하시는 시간에 배송받으세요! </p>

  </body>
</html>
